---
import '../styles/base.css';
import GoogleTagManager from '../components/GoogleTagManager.astro';

interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;
const gtmId = import.meta.env.PUBLIC_GTM_ID || 'GTM-T9PWFW5N';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<GoogleTagManager gtmId={gtmId} area="head" />
	</head>
	<body>
		<GoogleTagManager gtmId={gtmId} area="body" />
		<slot />
	</body>
</html>